<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <title>Layouts - Footer Fijo</title>
</head>
<body class="pagina">
    <header class="encabezado">
        <h1>Nombre del Sitio Web</h1>
    </header>

    <main class="contenido-principal">
        <h2>Contenido principal</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nunc a eros sodales vehicula. Donec efficitur arcu vel neque hendrerit hendrerit. Aliquam accumsan maximus elit, at rhoncus dolor pellentesque ut. Aliquam mauris enim, pellentesque ut massa id, accumsan pharetra justo. Etiam auctor lectus quis mauris posuere, non sollicitudin nulla semper. Maecenas molestie laoreet dolor a gravida. Etiam vitae est vitae eros faucibus condimentum vitae vitae sapien. Aenean auctor nisi nec mattis pellentesque. Duis cursus lorem quis neque rhoncus scelerisque. Sed ultricies vestibulum lacus, id aliquet diam dapibus id. Etiam mollis erat at mauris auctor, a tempus enim pellentesque. Proin bibendum augue non ullamcorper aliquet.</p>

        <p> Nullam fermentum, lectus in volutpat malesuada, velit lectus lobortis arcu, quis molestie est mi et arcu. Fusce arcu nibh, varius ut mauris id, imperdiet dignissim quam. Sed at dictum lacus, sed efficitur arcu. Mauris non eros at ipsum interdum mollis sodales ut ex. Integer a nisi ut libero convallis fermentum non id enim. Morbi maximus efficitur purus blandit faucibus. Cras convallis luctus diam at facilisis. Etiam rutrum fringilla urna, vitae pretium velit rhoncus eget. Curabitur vel aliquet velit, in aliquam augue.</p>

        <p> In hendrerit ex vitae vehicula lobortis. Donec tempor massa ac massa ultrices consequat. Donec vel feugiat ipsum, ac accumsan ipsum. Proin tempus tortor libero, vel molestie velit consectetur at. Integer eget elit et ipsum hendrerit sodales eu sed risus. Cras efficitur pharetra feugiat. Donec sit amet posuere ex, in pharetra nulla. Nunc nec mi nunc. Nam ultricies gravida libero, et commodo arcu porta fringilla. Integer a tortor et ligula mollis tristique. Nulla eget ullamcorper felis. Maecenas et ex ac nisi efficitur auctor. Nam varius sem sit amet ante accumsan, nec accumsan ex maximus. In ut orci vitae augue rhoncus congue. Proin varius, ante at blandit auctor, ante eros auctor ligula, in commodo neque tortor quis nunc.</p>

        
    </main>

    <footer class="footer">
        <h2> Footer con más información </h2>
    </footer>
</body>
</html>